[2016-11-06 09:34] wenbaofu opened #2 "good done in MD editor,I hope add checkbox and table command,tks /NULL"

[2016-11-06 16:49] mdickin commented on #2
Thank you for the feedback! Checkboxes should be easy enough to do. I'll have to think through how to do tables intuitively.

[2016-11-08 02:29] mdickin commented on #2
As of v0.4.0, Github Flavored Markdown (GFM) checkboxes are supported. You can also convert tabular (separated by tabs or 2+ spaces) data into a table.

[2016-11-08 02:29] #2 closed, assigned to mdickin

[2016-11-08 03:03] mdickin opened #3 "Numbered list repeats first number"
When converting text to a numbered list, the first two lines are marked as 1. This is valid markdown, but should be fixed

[2016-11-08 03:05] mdickin opened #4 "Handle multiple selections"
Currently the tool does not handle multiple selections. This could be useful for things like bolding the first word on each line

[2016-11-08 03:09] mdickin opened #5 "Find surrounding word"
When cursor is placed inside a word (but word is not selected), use that word as the selection.

Example:
1. Type "embolden"
2. Place cursor between "b" and "o"
3. Press ctrl+b
Expected: text is replaced with "**embolden**"

[2016-11-08 03:12] mdickin opened #6 "Find block text"
For block commands like Toggle Bullets, do not require all text to be selected. Command should use the lines that are selected, similar to how commenting code works.

Applies to: bullets, numbers, checkboxes, code block, tables

[2016-11-08 03:26] wenbaofu commented on #2
yes, you are right,table is also needed. and if there is a preview of the MD file. I only had installed Markdown Shortcuts and Markdown Checkbox in vscode 1.7.1 . I found the preview of the MD file can not work well(not sure the preview function in which extention)
the preview result like this:
MD file:
test
test
preview:
test test

it seems lost one CRLF,when I add two CRLF，then preview can displ

[2016-11-08 14:21] mdickin commented on #2
The Markdown preview is provided by Visual Studio Code, not either of those extensions.

What you're describing is expected behavior for Markdown. You can test it here as well: http://dillinger.io/

It's worth noting that the VSCode preview does not support checkboxes, as it doesn't recognize Github Flavored Markdown. The Markdown standard does not contain a checkbox

[2016-11-09 09:02] wenbaofu opened #7 "very nice experience @V0.4, and I find table vs table with header has no difference,pls check"
1. you also find the preview problem of VsCode?I raise a issue for it [issue for vscode](https://github.com/Microsoft/vscode/issues/15231)
2. pls help tell me how you capture the screen for demo? which tool are you using, very cool....

[2016-11-09 13:23] mdickin commented on #7
I personally use http://screentogif.codeplex.com/ for screen captures.

There is no difference between "Add table" and "Add table with header" if you don't have anything selected. However, note the behavior here:

![](https://raw.githubusercontent.com/mdickin/vscode-markdown-shortcuts/master/media/demo/table_with_header.gif)

If you selected "Add table" instead, it would generate default column na

[2016-11-18 13:46] #7 closed, assigned to nobody

[2016-12-03 14:56] mdickin commented on #6
Fixed in v0.5.0

[2016-12-03 14:56] #6 closed, assigned to mdickin

[2016-12-03 14:56] mdickin commented on #3
Fixed in v0.5.0

[2016-12-03 14:56] #3 closed, assigned to mdickin

[2017-01-15 20:43] mdickin opened #9 "Add new list item when pressing enter on a list item"
If the cursor is on a list item (bullet point, numbered list item, GFM checkbox) and I press enter, I expect a new list item to be created on that new line. If I press enter again without adding any content to that line, I expect the previously created list item to be removed (the new line should remain)

[2017-01-26 14:11] StephD opened #10 "Add feature to url shortcut"
Hello,

In my way to work, I'm used to type the url in the *.md file and I tought that your shortcut allow me to "renamed" the url and give it the name I typed.
But in the actual shortcut, it's the opposite, have to write a text and then allow the redirection to an url.

In my way, I'm force to copy the actual url and paste it as text to allow the redirection.

To allow my way to work, there is an

[2017-01-26 14:22] mdickin commented on #10
Ok, I think I understand now. You want to highlight text in the document and convert it to a link (by wrapping it with `<>`)

So the process would look something like:
1. Select text `http://www.google.com` in document
2. Right-click and select "Convert to hyperlink" (could also be a keyboard command)
3. Selection is changed to `<http://www.google.com>`

Does that sound correct?

[2017-01-26 15:25] StephD commented on #10
Yes it is :)

[2017-02-11 15:52] mdickin commented on #10
This is now implemented in v0.6.0. Highlight a URL and press ctrl+L and it will add angle brackets to the selection

[2017-02-11 15:52] #10 closed, assigned to nobody

[2017-02-14 14:40] StephD commented on #10
Thanks.
It seams to work only with url start with http://.  I just test and you are right because "<www.google.com>" doesn't work.

If I can ask another feature about url shortcut.
Is it possible to check the presence of "http://" before the link-url and if not present, add it?

1. Write "test"
2. Hightline and use ctrl+L
3. Write "www.google.com" in the text area
4. See "]test](http://www.google.

[2017-02-14 15:13] mdickin commented on #10
For your new request, I'm afraid it would get in the way of use cases. For example, my site pumlhorse.com is hosted on GitHub and is generated through Markdown files. It allows me to use relative URLs for linking internal pages, so something like `[Frequently Asked Questions](../faq.md)`.

Even in normal GitHub, you can use relative paths like so: `[readme](../blob/master/README.md)` -> [readme](.

[2017-02-15 14:43] StephD commented on #10
No worry :)

Good job

[2017-03-11 02:51] ngtrian opened #12 "Add shortcut for insert image"
Can you add default shortcut insert image such as:

`![](image_url_copied)`

[2017-03-11 02:52] ngtrian commented on #12
Maybe works similar to insert link!

[2017-03-11 03:34] mdickin commented on #12
I think that's a great idea. If there is text selected, it'll be used as the link, otherwise prompt for the URL like normal. Thanks for the recommendation!

[2017-03-11 22:54] mdickin commented on #12
Released in v0.7.0. Ctrl+shift+L is the shortcut. Thanks again for the idea!

[2017-03-11 22:54] #12 closed, assigned to mdickin

[2017-03-12 05:11] ngtrian opened #13 "Support alt text for insert image"
You may add support for alt text for insert image, which automatically behaves in each case.
example:
- if the text is selected, the result is: `![Text_selected] (image_url)`
- If the link is selected or empty, the result is: `![](Image_url)`

Again, thank you very much for this plugin

[2017-03-12 05:59] ngtrian commented on #13
Escape button seem doesn't working in insert image

[2017-03-12 16:30] mdickin commented on #13
Good catch, thanks! That'll teach me to clean up code and not test it afterward.

I've fixed that issue and added alt text support in v0.7.1.

[2017-03-12 16:30] #13 closed, assigned to mdickin

[2017-03-23 10:20] mlewand commented on #9
Yea, I was looking for the same feature. However I thought about simpler, less word-ish solution, instead of listening for double enter, just use a dedicated hotkey:

* `enter` - acts without a change to the default enter
* `shift+enter` - this is what would trigger new list item

`shift+enter` is not by default used by any action of VS so that's cool.

@mdickin Having that in mind, what kind of f

[2017-03-23 10:31] mlewand opened #14 "Missing Header commands"
I'm looking for commands like `md-shortcut.toggleTitleH1`, and can't seem to find it in commands pallete.

Now looking at `package.json` I see that the plugin does not declare to contribute this commands, am I missing something?

[2017-03-23 10:42] mlewand commented on #5
I think that a great addition would be for block-kind of commands to wrap the whole line, so you have selection like:
[code]
And press toggle ordered list, it makes:
[code]

[2017-03-23 11:45] mdickin commented on #9
That's a pretty good alternative. It puts the control in the hands of the user. Unfortunately, I see that as a downside too. The user has to know that the shift-enter feature exists to benefit from it.

I'm torn on this. @stephd and @ngtrian, you both gave thumbs up to this. What are your thoughts?

[2017-03-23 11:50] mdickin commented on #14
Looks like it's only declared programmatically. I just checked and you can still bind a keystroke to it. I'll keep this as a bug and make sure it (and the rest of the missing commands) get declared in `package.json`. Thanks!

[2017-03-23 11:58] mdickin commented on #14
Also, if you weren't aware, Markdown Shortcuts provides its own command palette. You can use it by pressing `ctrl+M ctrl+M`

[2017-03-23 12:18] mlewand commented on #14
Ohh, my didn't notice it, thanks! :D

[2017-03-23 23:28] mlewand opened #15 "Toggle block doesnt work for a collapsed selection"
1. Open a new markdown file.
1. Set contents to the following (where `^` marks a collapsed range position):
[code]
1. Press `ctrl+m, ctrl+c` to insert a code block.

Code block gets inserted.

Nothing happens, extension throws na exception.

[2017-03-24 01:43] mdickin commented on #15
Hmm, didn't mean to close this...please test the latest code and make sure I didn't break it on your machine.

[2017-03-24 09:04] StephD commented on #9
I would prefer the opposite reaction.

- `enter` : continue the list
- `enter`, on empty list line : end the list
- `shift+enter` : end the list and back to normal line

But this last shortcut could be usless because user just have to press the `return` key to end the list.

In my opinion, the natural way would be to continue the list without asking any knowledge, so without doing any special shor

[2017-03-24 09:54] mlewand commented on #15
I referenced it to close with one of commit messages, as fix for it was included in the PR.

It's covered by [one test case](https://github.com/mdickin/vscode-markdown-shortcuts/blob/d7b70fec759e9489f1d827a8008c8f660380f944/test/extension.test.js#L95-L97) so it has to work :)

[2017-03-24 11:42] #5 closed, assigned to nobody

[2017-03-24 18:02] #14 closed, assigned to nobody

[2017-03-25 20:25] mdickin commented on #15
Resolved in v0.8.0

[2017-03-25 20:25] #15 closed, assigned to nobody

[2017-03-25 20:26] mdickin commented on #14
Resolved in v0.8.0

[2017-03-25 20:26] mdickin commented on #5
Resolved in v0.8.0

[2017-03-25 20:28] mdickin opened #21 "Multiline link not detected"
If a hyperlink extends across two lines (with word wrap, no newline), it will not be properly detected.

`[url text](url)^` works fine
`[url text]`
`(url)^` does not work

[2017-03-25 20:31] mdickin opened #22 "Checked GFM Checkbox not detected properly"
Place cursor at end of `- [ ] To do item`, run Checkbox command, and it will be changed to `To do item`

Place cursor at end of `- [x] To do item`, run Checkbox command, and it will be changed to `- [ ] - [x] To do item`

[2017-05-01 18:39] JulioC opened #23 "Toggle commands don't work with accented words"
When using a command link **toggleBold** with the cursor inside a accented word, it won't work properly.

You can try placing the cursor inside the portuguese word `máscara`, like `másca|ra`. The result of the command will be `má**scara**` instead of **máscara**.

Changing '\w' in the regexp wordPattern should be enough to fix this issue. From [this stack overflow question](http://stackoverflow.co

[2017-05-01 18:45] mdickin commented on #23
Thanks for the bug report! I'll get to this soon.

[2017-05-01 21:42] kvaleev opened #24 "Toggle commands don't work with mutltiple selection"
If there are several words selected using multicursor feature, toggle commands works only for the first selection.

[2017-05-01 21:50] mdickin commented on #24
This looks like a duplicate of #4, do you agree?

[2017-05-01 21:52] kvaleev commented on #24
Yeah, my mistake. Close this one, please.

[2017-05-01 22:45] #24 closed, assigned to nobody

[2017-05-03 01:12] mdickin commented on #23
Resolved in v0.8.1

[2017-05-03 01:12] #23 closed, assigned to nobody

[2017-05-03 02:07] mdickin commented on #23
@JulioC, I opted for the easier regex you found on StackOverflow. If you find that the non-word symbols are causing issues, let me know and I can look at the Twitter regex. Thanks for the research!

[2017-05-17 16:45] VeronicaWasson opened #26 "Option to use asterisks for italics"
Currently the "Toggle Italic" command formats `_with underlines_`. It would nice to have option to use the `*single asterisk*` format.

[2017-06-06 21:04] oct8l opened #27 "Toggle comment"
Would it be possible to add marking text as a comment as a feature? As specified on [Stack Overflow](https://stackoverflow.com/a/20885980), using `[//]: # "This may be the most platform independent comment"` is great for adding comments to Markdown files. Would it be possible to get this option to make the selected text a comment added to the context menu along with bold, italics, etc?

Thanks muc

[2017-07-05 12:27] mdickin opened #28 "Convert extension icon to PNG"
Visual Studio Marketplace did a one-time conversion of SVG icons to PNG, but this will need to be done permanently in the manifest before the next release

[2017-07-12 17:05] Fred-Vatin opened #29 "[BUG] Shortkeys in context menu"
VS Code version | OS | Extension version
------------------ | ---- | ----
1.14.0 and 1.15.0 -insider | Win 10 x64 pro (french) 14393 | 0.8.1

## Steps to reproduce

Right click to display context menu in a **markdown** file.

## Results

Screenshot speaks for itself:

![md](https://user-images.githubusercontent.com/22337329/28129272-00909bc8-6733-11e7-8c98-2fcaea3278a7.PNG)

But note that the shor

[2017-07-13 13:26] mdickin commented on #29
Opened issue: Microsoft/vscode#30617

Thanks for bringing this to my attention

[2017-07-13 15:52] mdickin commented on #29
Looks like this is an issue with Electron: electron/electron#5398

[2017-07-13 15:56] #29 closed, assigned to nobody

[2017-07-17 18:46] borekb commented on #9
+1 from me for continuing lists by pressing `enter`. Would be awesome to have (my documents typically contain quite a few lists).

[2017-08-20 08:59] Danilux opened #31 "Highlight with <mark>"
Hi, is there a way to create a markdown shortcut to add highlight to elements, like instead of wrapping the element with `<mark>element</mark>`, I'd like to write something like =element=, and that could trigger the `<mark>element</mark>`, sorry if this is not the place to ask for such a thing, thanks

[2017-08-21 12:11] mdickin commented on #31
I'm not sure I follow what you're asking. Wrapping text like `=element=` isn't part of the Markdown specification or Github Flavored Markdown. Are you expecting `=element=` to be rendered in a specific way? Or are you asking for the ability to wrap selected text with a user defined pattern?

[2017-08-23 05:56] Danilux commented on #31
I'm sorry, my english is not that good, I understand =element= is not part of the spec, just wondering if I could implement a shortcut, well, more like a snippet and add it to the context menu of markdown-shorcut, that would allow me to click it and it'd wrap the text with a `<mark></mark>` element

[2017-08-23 10:49] mdickin commented on #31
No need to apologise, your English is very good - much better than I can speak any other language!

I think we're saying the same thing, and I had thought about a feature like this before, though I'm still not sure it should go in this extension. Thanks for the suggestion!

[2017-08-23 18:05] mdickin commented on #31
I wonder, would this extension solve your needs? <https://marketplace.visualstudio.com/items?itemName=sifue.surrounding>

[2017-09-12 13:08] Dod9er opened #32 ""Ctrl+Shift+L" for images conflicts with default keybinding for editor.action.selectHighlights"
Hi,
one of the default keybindings I use quite often is "Ctrl+Shift+L" in order to change a string at multiple locations. Check editor.action.selectHighlights at https://code.visualstudio.com/docs/getstarted/keybindings for reference.
Is it possble to change this keybinding for markdown-shortcuts on my own ? Didn´t find the necessary config.

[2017-09-12 13:19] mdickin commented on #32
Sorry about that!

You can remap that shortcut if you go to File > Preferences > Keyboard Shortcuts.

Search for "ctrl+shift+L" and it will bring up the conflicting bindings. You can remap it, remove it, whatever you want.

![image](https://user-images.githubusercontent.com/16612667/30327837-18b08ff2-9793-11e7-9f36-bca215096f74.png)

[2017-09-12 13:33] Dod9er commented on #32
Ahh, ok. I´m quite new to VSCode, as you see. Thanks for your hint :+1:

[2017-09-12 13:33] #32 closed, assigned to nobody

[2017-10-19 04:09] lgallard opened #33 "Add {:target="_blank"} to Toggle hyperlink"
Hi @mdickin,

I'm using kramdown and I would like to add {:target="_blank"} at the end of links using  yourToggle hyperlink command, to have something like this:

`[Some text](https://example.com/link){:target="_blank"}`

Can I achieve this with an option of your extension? If the answers is no, can you add this feature to your extension?

Thanks in advance!

[2017-10-19 12:35] #31 closed, assigned to nobody

[2017-10-19 12:39] mdickin commented on #33
This is not currently possible with the extension. However, I could see adding a setting for "hyperlink format" that you could override to append `{:target="_blank"}`, would that work? I'm not sure how else to do it, as this is not typical Markdown syntax.

[2017-10-19 14:05] lgallard commented on #33
It could work for me. I know it's not the standard markdown. Where can set the "hyperlink format"? I couldn't find it in the markdown or editor settings.

Thanks in advance!

[2017-10-19 15:25] mdickin commented on #33
It's not currently possible. This would be an enhancement to the extension.

[2017-10-19 15:37] lgallard commented on #33
It would be perfect!

Thanks!

[2017-11-24 15:04] natakazakova opened #34 "Change predefined shortcuts"
Hi!
I need specific shortcuts for DocFX flavored markdown, e.g. warnings and notes, xref links and so on [DocFX Flavored Markdown](https://dotnet.github.io/docfx/spec/docfx_flavored_markdown.html?tabs=tabid-1%2Ctabid-a#note-warningtipimportant).
Can I change some predefined shortcuts? If yes, please tell me how :)

[2017-12-04 14:19] mdickin commented on #34
@natakamyshnikova, I apologize for my late response.

I think #32 answers your question. Please let me know if I misunderstood.

[2017-12-04 16:46] Klepeto opened #35 "Make ```a code block``` with custom language"
Add settings to change language for code blocks. Something like:

`settings.json:`
[code]
for:

[code]

[2017-12-08 16:07] mnlwsn commented on #9
Any chance of adding functionality to auto-increment the numbered lists? I prefer seeing the markdown highlighting when viewing my notes, and it's very frustrating to manually increment the numbers when the enhancement is so convenient.

[2017-12-09 23:48] mlewand commented on #9
@mnlwsn this is a slightly different feature that you're asking for, so you should create a new feature request for it (after checking whether it's not yet reported).

Out of curiosity, do you really need to modify the numbers after adding few preceding items? Markdown does not care for actual numbers, it will automatically use correct numbering when rendering, so you can use even sth like that:

[2018-01-15 07:46] secsilm commented on #34
Hi @mdickin , I have same situation. I want to use `*` instead of `_` when I press `Ctrl` + `I`. Is there a solution?

[2018-01-15 10:27] anibalsanchez opened #36 "Bullet points with dash"
By default, the Bullet points are generated with an asterisk.

Is there any way to change the default to use a dash?

[2018-02-12 06:42] chinanf-boy opened #37 "May Add <details> <summary> .. </summary> </details>"

[2018-02-12 06:43] chinanf-boy commented on #37
[code]
<details>

<summary> more info </summary>
1.a

2.b
</details>

[2018-02-12 13:56] mdickin commented on #37
Interesting, I didn't know about this. Looks like this is part of the HTML5 specification rather than Markdown. It renders in Github (as long as you're not using IE or Edge) and the preview window in VS Code.

However, this seems like a better fit for using [Visual Studio Code snippets](https://code.visualstudio.com/docs/editor/userdefinedsnippets) rather than this extension.

[2018-02-14 03:35] chinanf-boy commented on #37
i see ,

But i can't use `Visual Studio Code snippets` in markdown file

how do ?❤️

when i create the `markdown.json`file, set the

[code]

snippets tips no show

[2018-02-27 05:33] #37 closed, assigned to nobody

[2018-03-04 13:34] jannismain opened #38 "Toggle multiline citations"
When having a multiline citation, a command to quickly convert it to a proper markdown citation (prepend `>` before each line) would greatly improve the current workflow (selection of several lines and typing the `>` manually).

_Example:_

[code]

convert to:

[code]

Markdown Output:

[2018-08-25 09:12] lamyergeier opened #39 "Inline Link to Reference"
Hi! Could you please provide this feature, to convert all inline links in a document to references at the bottom.

Many thanks.

[2018-09-07 06:17] V0idk opened #40 "Result in refresh right click menu."
![peek 2018-09-07 14-16](https://user-images.githubusercontent.com/17514799/45201579-a8bcde80-b2a8-11e8-9870-9221eebde2b6.gif)

after i disable , the problem gone

[2018-09-07 06:20] V0idk commented on #40
well, i guess it's vscode's fault. because the menu is too long!!

[2018-09-07 06:20] #40 closed, assigned to nobody

[2018-09-21 23:06] #39 closed, assigned to nobody

[2018-10-11 06:55] FFengIll commented on #36
I think it should allow to config using + - *

[2018-10-11 11:15] FFengIll commented on #35
I believe it is not the responsibility of the plugin.
Since it is not a general use for markdown.

[2018-11-06 04:04] mdickin commented on #38
Shortcut added in v0.9.0. Thanks @FFengIll!

[2018-11-06 04:04] #38 closed, assigned to nobody

[2018-11-06 04:05] mdickin commented on #34
@secsilm, I've added this functionality per issue #26 in version v0.9.0. Thanks!

[2018-11-06 04:06] mdickin commented on #36
As of v0.9.0, bullet points can be configured to use plus sign, dash, or asterisk. Thanks for the contribution, @FFengIll!

[2018-11-06 04:06] #36 closed, assigned to nobody

[2018-11-06 04:07] mdickin commented on #26
Added in v0.9.0. Thanks for the recommendation!

[2018-11-06 04:08] mdickin commented on #38
And thank you for the recommendation, @mainczjs!

[2018-11-06 04:08] #26 closed, assigned to nobody

[2018-11-06 04:09] mdickin commented on #28
This no longer seems to be an issue

[2018-11-06 04:09] #28 closed, assigned to nobody

[2018-11-06 08:39] anibalsanchez commented on #36
Thank you!

[2018-11-06 18:23] timdhoffmann commented on #36
Thanks!

[2018-11-11 10:54] cangyuyao opened #43 "Citations for multiple paragraphs"
When selecting multiple paragraphs, the current citation works neglecting the blank lines in-between:
[code]

Rendered:

But most time I want to cite them in the same blockquote like:

[code]

[2018-11-13 08:21] V0idk opened #44 "Code block problem"
hey , I need
\```
\```
instead of
\```autoauto```

[2018-11-13 14:58] #44 closed, assigned to nobody

[2018-11-17 19:36] mdickin commented on #43
Good point, that's not a scenario I tested (clearly). Seems like that would be the expected behavior most of the time

[2018-11-20 01:52] #34 closed, assigned to nobody

[2019-01-22 03:05] NalanHan opened #45 "problem when insert codeblocks use ctrl+m ctrl+c"
Hi,
when I insert code blocks with `ctrl+m ctrl+c ` in markdown,it is like this:
<pre> ```autoauto```</pre>
How can I change the default behavior to
<pre>
[code]
</pre>
Thanks.

[2019-01-22 03:08] NalanHan commented on #45
Hi,
when I insert code blocks with `ctrl+m ctrl+c ` in markdown,it is like this:
```autoauto```
How can I change the default behaviour to
[code]
Thakns.

[2019-01-22 14:01] mdickin commented on #45
Hi NalanHan,

Thanks for reporting this. This looks like a bug in the extension due to a change in VSCode. The extension is using the "EOL" setting to determine what end of line format to use. At some point, the "auto" option was added, which is why you're seeing that.

A workaround for this is to change your EOL setting to either `\n` or `\r\n`, instead of "auto".

[2019-01-22 14:02] mdickin commented on #45
To change this setting, go to File > Preferences > Settings.

![image](https://user-images.githubusercontent.com/16612667/51540424-05fe9a00-1e1c-11e9-9c1d-a2da9c6ab609.png)

[2019-01-24 22:43] NalanHan commented on #45
Hi mdickin，
Thanks for the reply. It solves the problems perfectly.

[2019-01-31 05:10] raulrpearson opened #46 "Add support for MDX files"
I'm using vscode-mdx to [add support for MDX](https://github.com/silvenon/vscode-mdx/blob/56840dbed0958f3efe8b505a22bb58d4d50eeda5/package.json#L24) in VS Code. I would like to use vscode-markdown-shortcuts on these MDX files. The workaround I'm using at the moment is to add this to my `settings.json` file:

[code]

But that defeats the purpose of having vscode-mdx installed 😅 .

Would it make sen

[2019-01-31 13:51] mdickin commented on #46
Hi Raul,

I'm worried about including "mdx" as a default supported langId, as some users may use it for something other than Markdown React. I know it's a database file type as well (though I doubt many people are opening those files in VSCode).

I would love to make it customizable, though. The extension already checks user settings to determine whether to show/hide menu items:

[code]

I haven't

[2019-01-31 13:59] mdickin commented on #46
Actually, this might be the way forward instead of an array:

https://github.com/Microsoft/vscode/issues/22778#issuecomment-426711403

[2019-02-01 06:26] raulrpearson commented on #46
So the aim would be to have a config option like this:

[code]

Then transform that array into the string `/(markdown|mdx|mdy|mdz)/` and use that in the `"when"` logic in `package.json`?

One way to build that string would be to use this, which works even if the array is empty:

[code]

What I don't know is where that piece of code needs to go. I'm not familiar with VS Code extension development.

[2019-02-01 13:29] mdickin commented on #46
So after looking over your last comment, I realized my approach wouldn't work. Even if we stored the regex as a configuration variable, I don't think it would recognize it as a regex like we need.

Instead, I think we can use a similar approach to what [gitlens](https://github.com/eamodio/vscode-gitlens) is doing with `setCommandContext`. On activation, we would do something like

[code]

Then the

[2019-02-03 14:58] #46 closed, assigned to nobody

[2019-02-03 15:23] jmooring commented on #45
Please re-open this issue. Setting the eol to \n or \r\n is a workaround, not a solution. It took me a couple of hours to discover the workaround.

[2019-02-03 15:50] mdickin commented on #45
Agreed, this needs a proper fix. I should be pushing out an update shortly

[2019-02-03 15:55] #45 closed, assigned to nobody

[2019-02-03 16:08] jmooring commented on #45
Looks like we can simply replace
[code]
with
[code]

[2019-02-03 16:16] #43 closed, assigned to nobody

[2019-02-03 16:20] jmooring commented on #45
My last comment is pointless given your last commit. Thank you for fixing this so rapidly.

[2019-02-03 16:40] mdickin commented on #44
This has been resolved in v0.10.0. Thanks for the feedback!

[2019-02-03 16:40] mdickin commented on #43
This has been resolved in v0.10.0. Thanks for the feedback!

[2019-02-03 16:41] mdickin commented on #45
This has been resolved in v0.10.0. Thanks for the feedback!

And thank you @jmooring for looking into a fix, even if we got there at the same time :)

[2019-02-03 16:42] mdickin commented on #46
This has been added in v0.10.0. Thanks for the contribution!

[2019-02-09 22:13] zachvalenta opened #49 "Option to use asterisks for bold"
I want to mimic issue #26 but add double underscore (`__bolded__`) format for "Toggle Bold".

[2019-02-10 17:10] mdickin commented on #49
This has been added in v0.11.0. Thanks for the feedback!

[2019-02-10 17:10] #49 closed, assigned to nobody

[2019-02-10 17:19] zachvalenta commented on #49
Cool, cheers!

[2019-02-21 11:11] sebw opened #50 "markdownShortcuts.languages doesn't seem to work"
Some options are useful for Asciidoc.

I'm trying to enable the extension for `asciidoc` language, but it doesn't work.

My `settings.json`:

[code]

[2019-02-21 13:20] mdickin commented on #50
Hi @sebw , do you have an Asciidoc extension installed in VSCode? I just installed [AsciiDoc](https://marketplace.visualstudio.com/items?itemName=joaompinto.asciidoctor-vscode), changed my settings as you showed, and it worked fine.

When you open the file you're trying to edit, do you see "AsciiDoc" in the lower right corner?

![image](https://user-images.githubusercontent.com/16612667/53171727-2

[2019-02-22 22:36] sebw commented on #50
Hi @mdickin,

Just got home and synced my settings and extensions back to my Mac and it works there.

Problem is on Fedora 29. I will investigate further and report back.

[2019-02-23 10:35] sebw commented on #50
Alright, so today I'm checking on Fedora and it works, while I didn't change anything.

PEBKAC!

Thanks for the extension, very useful for me!

[2019-02-24 19:16] mdickin commented on #50
Excellent, thanks for following up, I'm glad to hear that it's working and that you enjoy the extension!

[2019-02-24 19:16] #50 closed, assigned to nobody

[2019-03-23 06:22] robertmarkbram opened #51 "Toggle Code Block adds an unnecessary line break"
#### What is the problem?
Any time I use the `Toggle Code Block`, it adds an extra blank line at the end of my code.
- Whether I select every line of code (including or excluding the last line break) or just leave the cursor in the current single line of code.
- Whether I use the keyboard shortcut or invoke the function via the Command Palette.

#### How can I reproduce it?
Invoke the function.

[2019-03-25 15:42] mdickin commented on #51
Just to clarify, if you select the following text:
[code]
and use `Toggle Code Block`, then you would expect the result to be (with backticks instead of apostrophes):
[code]
correct?

[2019-03-25 19:59] robertmarkbram commented on #51
I think the behaviour should be

- do not modify the selected text (so don't remove any trailing or leading new lines if the user wants them there for whatever reason)
- end with the entire code block *plus* the lines with surrounding bacticks selected so that the user can indent the whole lot if needed.

So if have my cursor in the middle of a single line when I run the code block function:

[cod

[2019-03-26 12:36] mdickin commented on #51
I'm not sure how this is different from current behavior

Before:
![image](https://user-images.githubusercontent.com/16612667/54997394-9af74e00-4f99-11e9-9b5a-cade8727a23f.png)
After:
![image](https://user-images.githubusercontent.com/16612667/54997429-ad718780-4f99-11e9-9e33-75ba3dd5d694.png)

Before:
![image](https://user-images.githubusercontent.com/16612667/54997463-c0845780-4f99-11e9-8bfe-9eb

[2019-03-26 12:40] mdickin commented on #51
Going back and re-reading your last comment, is this about line breaks or is it about text selection? With the text selection, I agree, it doesn't currently select the entire text inside the code block.

[2019-03-27 05:11] robertmarkbram commented on #51
Hi @mdickin , try putting some extra lines at the end of of your file, then you might see the behaviour..

Before:
![2019-03-27 16_10_41-VS Code MD](https://user-images.githubusercontent.com/453925/55051840-efd6b980-50aa-11e9-8c76-a323ea7a72c8.png)

After:
![2019-03-27 15_51_02-VS Code MD](https://user-images.githubusercontent.com/453925/55051695-645d2880-50aa-11e9-8f91-ea573fa870ff.png)

Before:

[2019-03-27 12:57] mdickin commented on #51
Ok, I see now. Thank you for being patient with me!

That's a weird one, I'll dig into it.

[2019-04-03 07:25] tdoerrich opened #52 "Suggest image paths when adding an image"
I love the shortscuts this gives me, mostly I love the CTRL+M feature, that is more than amazing just doing that and starting to type what I want to add.

There is one thing I think could make the image part even better though (at the same time I'm not sure if it is even possible?), it would be that when you add an image, if you start typing a relative path inside of the URL for the image, it sugg

[2019-04-03 13:29] mdickin commented on #52
Thanks for the feedback, Tobias. I'm really happy to hear that you enjoy the extension!

It looks like this is possible. I found [this example](https://github.com/Microsoft/vscode-extension-samples/blob/master/quickinput-sample/src/quickOpen.ts) of something similar.

[2019-04-07 21:38] mysterioux commented on #33
yep this is needed badly

[2019-06-06 07:32] HerbCaudill opened #53 "Can't convert multi-line paragraphs to bullets"
When you have multi-line paragraphs like this

[code]

and you select them and choose "Toggle bullet points", you get this:

[code]

Instead you should get this:

[code]

Currently the only way to get that is to add the bullets manually.

[2019-11-05 14:05] ghuser opened #54 "Add support for toggleLineBreaks (2 spaces at the end of each line)"
This is a very common case.
After pasting a paragraph, In order for the lines to be retained, 2 spaces need to be added at the end of each line.
It would be nice to support this.

[2019-11-07 13:28] axiqia opened #56 "Is that possible to make this extension like stackedit or git markdown style?"
-  Keyboard shortcut
` ctrl + shift + k` for code block
` ctrl + shift + L` for link

I think` ctrl+M ctrl+B` is too complex for user. At least, for me :)

- menu
![image](https://user-images.githubusercontent.com/22564578/68391476-b1f25580-01a2-11ea-8661-9da5854f4f7b.png)

I have pulled[ one request ](https://github.com/mdickin/vscode-markdown-shortcuts/pull/55)for cite icon, and I'd to add more.

[2019-11-10 15:26] zachvalenta opened #57 "project status still active?"
Based on recent issues/PRs closed, the project looks inactive since February.

Noticed because I checked up on a [previous issue I'd opened](https://github.com/mdickin/vscode-markdown-shortcuts/issues/49) (when had helpfully been implemented and closed very quickly) and realized the changes had never made it to master because there hasn't been a release in a while.

This extension has served me we

[2019-11-10 15:36] mdickin commented on #57
Hi Zach,

Yes, this project is still "active", though I admit I'm not very speedy with responses. Sorry about that!
I don't have any plans for future enhancements, though I am happy to review PRs from others

Are you referring to the ability to use double underscores for bold rather than double asterisks? That functionality was added in v0.11.0.
![image](https://user-images.githubusercontent.com/1

[2019-11-10 15:48] mdickin commented on #56
Hi @axiqia, you can easily change the keyboard shortcuts for these commands in the Keyboard Shortcuts menu.

![image](https://user-images.githubusercontent.com/16612667/68546733-49bc9300-039f-11ea-96f5-28c340200fe6.png)

I don't feel comfortable making a change to the extension now, as there are many users that may have gotten used to the commands as they are now.

[2019-11-10 15:53] mdickin commented on #53
Hi @HerbCaudill, I'm not sure how I would distinguish between your example and something like
[code]

I think this scenario would be more common than paragraphs with newlines in them. If you come up with a reliable way to do this, I'm more than willing to review a PR :)

[2019-11-10 15:55] mdickin commented on #54
Hi @ghuser, can you please explain a bit more? Could you give some sample input and output? Thanks!

[2019-11-10 17:57] zachvalenta commented on #57
Good stuff 👍🏼

My bad, I checked the [releases page](https://github.com/mdickin/vscode-markdown-shortcuts/releases) and didn't see 0.11 there so didn't realize it was out; when I checked `~/.vscode/extensions/` I realized I had already been using it :)

[2019-11-10 17:57] #57 closed, assigned to nobody

[2019-11-10 18:14] zachvalenta opened #58 "bold shortcut behaves differently than italics"
It seem bold depends highlighting the word to be bolded, whereas with italics you can have the cursor at either the start or end of the world.

* italics

![Screen Shot 2019-11-10 at 1 11 53 PM](https://user-images.githubusercontent.com/11388735/68548501-b04faa00-03bb-11ea-94c9-a91e4596b429.png)

![Screen Shot 2019-11-10 at 12 59 48 PM](https://user-images.githubusercontent.com/11388735/68548496-a

[2019-11-11 05:45] axiqia commented on #56
yep, I agree. How about the menu? @mdickin

[2019-11-11 10:09] ghuser commented on #54
See: https://daringfireball.net/projects/markdown/syntax#p

"When you do want to insert a <br /> break tag using Markdown, you end a line with two or more spaces, then type return."

input (the input below is rendered as `a b c` in one line):

[code]

command:toggleLineBreaks

output (2 spaces at the end of each line):

[code]

Then it is rendered as 3 separate lines.

The opposite should also wor

[2019-11-11 13:46] mdickin commented on #56
Sorry yes, I am perfectly fine with adding icons for other commands. Please just make sure they're defaulted to hidden

[2019-11-11 14:31] mdickin commented on #54
Ahh, thanks for the clarification. I wasn't aware of this.

[2019-11-12 08:56] #56 closed, assigned to nobody

[2019-11-14 12:09] HerbCaudill commented on #53
Thanks, @mdickin . I guess my thinking was that you'd use [Markdown rules](https://daringfireball.net/projects/markdown/syntax#p)  to detect line breaks: Two consecutive lines are treated as being in the same paragraph, unless you end the first one with two more more spaces. In most flavors of Markdown, your TODO list of five items would be rendered as two paragraphs:

![image](https://user-images

[2019-11-14 13:25] mdickin commented on #53
@HerbCaudill, you're right, we could detect it by the two spaces at the end of the paragraph. I wasn't aware of this syntax until a few days ago (#54 ). I think that would make this a lot easier.

[2019-12-13 00:41] zachvalenta opened #59 "default keybinding for bold/italic not invoked"
I overrode the default keybinding for bold to use the command key:

[code]

If I comment this out and use the default of `ctrl i`, however, I can no longer bold. Seems like the default keybinding does not work.

[2019-12-13 00:49] zachvalenta opened #60 "`.toggleItalic` failed"
When I try to italicize I get this error:

`'md-shortcut.toggleItalic' failed`

With bold, if I use the default keymapping (`ctrl b`) nothing gets bolded. Bold only seems to work if I use a custom keymap (in my case, `cmd b`).

Could be related to (https://github.com/mdickin/vscode-markdown-shortcuts/issues/59)

![Screen Shot 2019-12-12 at 7 41 53 PM](https://user-images.githubusercontent.com/1138

[2019-12-17 15:04] zachvalenta commented on #60
This seems to be caused by the latest VS Code update; my work machine has version 1.40.1, whereas my home machine (where I'm seeing the problem) is on 1.41.0

[2019-12-30 01:34] long-nguyenxuan opened #61 "Add new shortcut for those undefined ones"
How could I set my own shortcut, eg: `ctrl+5` for `md-shortcut.toggleStrikethrough`? (derive from Excel)
I think there should be some shortcut:

 Name | Description | Default key binding
-----|-------------|--------------------
md-shortcut.toggleStrikethrough | Make ~~strikethrough~~ | Ctrl+5 (excel)
md-shortcut.toggleTitleH1 | Toggle # H1 title | Ctrl+Alt+1 (word)
md-shortcut.toggleTitleH2 | Togg

[2019-12-30 14:34] mdickin commented on #61
@long-nguyenxuan see here: https://code.visualstudio.com/docs/getstarted/keybindings#_keyboard-shortcuts-editor

![image](https://user-images.githubusercontent.com/16612667/71586235-1bc21800-2adf-11ea-81d3-995236a486fa.png)

Unfortunately, `ctrl+5` would not be a good default shortcut, as VS Code already uses it. However, feel free to use it yourself.

[2020-06-14 07:11] lamyergeier opened #64 "List Editing"
![](https://raw.githubusercontent.com/yzhang-gh/vscode-markdown/master/images/gifs/fix-marker.gif)

This can be useful.

[2020-07-11 02:38] brainhaver commented on #60
I fixed this by deleting line 66 and changing line 68 in command.js:
 ` const pattern = new RegExp('\\'+marker+'?' + wordMatch + '*'+'\\'+marker+'?');`
 `return editorHelpers.surroundSelection(marker, marker);`

I did not create a pull request because I do not know if it has broken anything. Italic now works. however.

[2020-08-24 04:40] ivaquero opened #65 "Please add ` toggle LaTex formula` shortcut"
LaTex formula is one of the key features of Markdown. Please consider adding ` toggle latex inline formula`  and ` toggle latex block formula` shortcuts. e.g.

[code]

[code]

Thank you!

[2020-11-02 17:28] tfga opened #66 "Idea: "New Link" command / new behaviour for "Toggle Link""
[code]

[2020-12-01 16:15] lamyergeier commented on #9
Hi! This would be a nice feature.

[2020-12-02 12:57] arqeco opened #67 "Feature Request: Shortcut to alternate between list item's states: [ ], [x], [doing], [paused]"
Hello,

It would be nice to have a shortcut to alternate between list item's states, like:
[code]
I suggest: Ctrl-M Ctrl-Space

Thank you,
Márcio

[2021-02-28 00:21] #65 closed, assigned to nobody

[2021-04-03 19:48] dtcitron commented on #9
I also would like this feature - if I'm editing a list and hit return, I would at least like the option to automatically create a new item of the same type on the same line.

I have a work computer and a non-work computer. I've found that on my work computer, hitting return when editing a list will automatically create a new item that's part of that list. On my non-work computer, this doesn't happ

[2021-05-24 11:27] boschet commented on #60
I'm seeing this too with * as a italic marker.

[2021-06-04 01:07] finzzz opened #69 "Feature Request: Write Empty Link / Image Shortcut"
It would be cool if I can just insert empty link/image notation. Currently, if the input is blank, nothing gets written (if I want to cancel , I can just type `esc`). But I want to chain this with other extension like `relative path`, so this behavior is necessary.

[2022-01-17 17:55] sivaraam commented on #66
This one would be really be a nice to have. It would avoid having to switch attention to the pop-up just to add the link.

[2022-03-21 10:14] ctf0 opened #71 "[Feature] kbd integration"
one of the few symbols that needs to be added as a tag, so is it possible to add a new titlebar icon for this one ?

[2022-04-26 21:56] #71 closed, assigned to nobody

[2022-05-18 05:53] Natedude commented on #9
I would love this feature. Obsidian has it, but it'd be nice to have it to work with Dendron too.

[2022-10-07 03:57] huyz opened #73 "Keyboard shortcuts `when` should have ` && editorLangId == 'markdown'`"
Why not restrict the keybindings to markdown files?

[2022-11-16 02:11] Buedenbender opened #74 "[Feature] Add keybinding for <kbd> tag"
Thank you for this extremely useful extension.
One feature suggestions, which would be appreciated, would be a shortcut
for inserting the `<kbd></kbd>` Tags, for displaying keybindings.
Suggestion for a binding <kbd>Ctrl</kbd> + <kbd>M</kbd> + <kbd>Ctrl</kbd> + <kbd>K</kbd>